p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 2rem;
}

.bold {
    font-weight: bold;
}

p .mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

#contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 65rem;
}

#contact-content div {
    margin: 1rem;
}

#contact-content div:first-child {
    min-width: 13rem;
}

#contact-content div:last-child {
    flex-basis: 20rem;
    flex-grow: 1;
}

#get-started {
    padding: 0 1rem;
    margin: 3rem auto;
    max-width: 65rem;
}

#get-started button {
    margin: 1rem;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.cover img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 60%;
}

.text-overlay {
    position: absolute;
    padding: 1rem;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#text-overlay-1 {
    bottom: 5rem;
    left: 5rem;
    font-family: Courgette;
}
