<div class="container">
  <div id="footer-content">
    <div id="contact">
      <p class="bold">Tranquil Path Financial Planning</p>
      <p>Independence, OH 44131</p>
      <p><mat-icon>phone</mat-icon>: (216) 270-6994</p>
      <p><mat-icon>email</mat-icon>: Britta@TranquilFP.com</p>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div>
      <p class="bold">Downloads</p>
      <p>
        <a
          href="/assets/documents/2022-07-06 Tranquil Path ADV Part 2.pdf"
          target="_self"
          download="2022-07-06 Tranquil Path ADV Part 2.pdf"
          >ADV Part 2</a
        >
      </p>
      <p>
        <a
          href="/assets/documents/2022-07-06 Tranquil Path Privacy Policy Statement.pdf"
          target="_self"
          download="2022-07-06 Tranquil Path Privacy Policy Statement.pdf"
          >Privacy Policy Statement</a
        >
      </p>
    </div>
  </div>
  <p>&copy; Tranquil Path Financial Planning, LLC, 2022</p>
</div>
