.container {
    max-width: 1200px;
    margin: 0.5rem auto;
    padding: 0.2rem 1rem;
}

p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

p .mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

#footer-content {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

#footer-content div {
    margin: 1rem;
}




