<div id="affiliations">
  <h2>Our Affiliations</h2>
  <div>
    <a href="https://www.cfp.net/" target="_blank"
      ><img
        alt="logo for the Certified Financial Planner (CFP&reg;) certification"
        src="/assets/affiliations/2022-07-04 cfp-logo-plaque-black-outline.jpg"
    /></a>
    <a
      href="https://www.theamericancollege.edu/designations-degrees/ChSNC"
      target="_blank"
      ><img
        alt="logo for the Chartered Special Needs Consultant (ChSNC&reg;) certification"
        src="/assets/affiliations/2022-07-04 ChSNC badge.png"
    /></a>
    <a href="https://www.acplanners.org/home" target="_blank"
      ><img
        alt="logo for the Alliance of Comprehensive Planners organization"
        src="/assets/affiliations/ACP logo.jpg"
    /></a>
    <a href="https://www.napfa.org/" target="_blank"
      ><img
        alt="logo for the National Association of Personal Financial Advisors organization"
        src="/assets/affiliations/2022-07-04 NAPFA logo.png"
    /></a>
    <a
      href="https://xyplanningnetwork.com/?utm_source=XYPN_member_badge&utm_medium=badge&utm_campaign=XYPNMB"
      target="_blank"
      ><img
        alt="logo for the XY Planning Network organization"
        src="https://info.xyplanningnetwork.com/hubfs/Logos/XYPN%20Member%20Badge.png"
    /></a>
    <a href="http://www.clevelandfinancialadvisorsnetwork.com/" target="_blank"
      ><img
        alt="logo for the Cleveland Financial Advisors Network"
        src="/assets/affiliations/2022-07-04 CFAN logo.png"
    /></a>
  </div>
</div>
