<div>
  <div class="cover">
    <img
      alt="Image of a path through the woods"
      src="https://images.unsplash.com/photo-1448944356016-9f5ad93875c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
    />
    <div id="text-overlay-1" class="text-overlay">
      Exploring the path of your future. Together.
    </div>
  </div>
  <div class="text-blurb">
    <h2>Here's What We Provide</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      vulputate libero in lectus viverra efficitur. Quisque urna mauris, aliquam
      vel lectus et, ullamcorper molestie nisl. Ut eu arcu nunc. Vivamus egestas
      orci a massa laoreet vehicula. Duis pharetra nulla a mauris mattis
      suscipit. Nunc imperdiet consectetur justo ac aliquet. Nulla in velit
      molestie, interdum risus eget, congue metus. Duis elit nibh, congue quis
      sapien quis, placerat consequat augue.
    </p>
    <p>
      Curabitur sollicitudin aliquam tempor. Sed elementum risus in arcu
      ultrices viverra. Quisque at hendrerit nisi, ut venenatis est.
      Pellentesque in nisl a leo euismod rhoncus. Morbi convallis lectus nec
      blandit suscipit. Vivamus sagittis molestie felis nec consequat. Nulla at
      venenatis magna. Integer auctor nisi non nulla semper pellentesque.
      Maecenas dapibus urna vel neque iaculis, vel congue nisl tristique.
      Phasellus sed gravida mauris, et semper nibh.
    </p>
  </div>
  <div class="banner">
    <img alt="Image of Britta Koepf" src="/assets/britta-koepf-2.png" />
    <div>
      <h2>Meet our Founder</h2>
      <p>
        Britta Koepf, CFP<sup>&reg;</sup>, ChSNC<sup>&reg;</sup> is the founder
        and senior advisor at Tranquil Path Financial Planning. Britta provides
        holistic, fee-only financial planning, and took pride in her fiduciary
        responsibility even before 'fiduciary' became a hot-button political
        topic.
      </p>
      <button mat-flat-button color="primary" routerLink="/about">
        Learn More
      </button>
    </div>
  </div>
  <div class="text-blurb">
    <h2>Why Fee Only Planning?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      vulputate libero in lectus viverra efficitur. Quisque urna mauris, aliquam
      vel lectus et, ullamcorper molestie nisl. Ut eu arcu nunc. Vivamus egestas
      orci a massa laoreet vehicula. Duis pharetra nulla a mauris mattis
      suscipit. Nunc imperdiet consectetur justo ac aliquet. Nulla in velit
      molestie, interdum risus eget, congue metus. Duis elit nibh, congue quis
      sapien quis, placerat consequat augue.
    </p>
    <p>
      Curabitur sollicitudin aliquam tempor. Sed elementum risus in arcu
      ultrices viverra. Quisque at hendrerit nisi, ut venenatis est.
      Pellentesque in nisl a leo euismod rhoncus. Morbi convallis lectus nec
      blandit suscipit. Vivamus sagittis molestie felis nec consequat. Nulla at
      venenatis magna. Integer auctor nisi non nulla semper pellentesque.
      Maecenas dapibus urna vel neque iaculis, vel congue nisl tristique.
      Phasellus sed gravida mauris, et semper nibh.
    </p>
  </div>
  <app-affiliations></app-affiliations>
</div>
