.cover img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 40%;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    padding: 1rem;
    background-color: rgba(0,0,0,.10);
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#text-overlay-1 {
    top: 5rem;
    left: 1rem;
    font-family: Courgette;
}

#text-overlay-2 {
    top: 12rem;
    left: 10rem;
}

#affiliations {
    background-color: white;
}

#affiliations h2 {
    padding: 1rem 0 0 5rem;
}

#affiliations>div {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

#affiliations img {
    height: 5rem;
    margin: 1rem;
}