<div>
  <div class="cover">
    <img
      src="https://images.unsplash.com/photo-1448944356016-9f5ad93875c8?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
    />
    <div id="text-overlay-1" class="text-overlay">
      Your financial journey is your own path
    </div>
    <div id="text-overlay-2" class="text-overlay">
      Let us be the guide to support you on the way
    </div>
  </div>
  <div id="affiliations">
    <h2>Our Affiliations</h2>
    <div>
      <a href="https://www.cfp.net/" target="_blank"
        ><img
          alt="logo for the Certified Financial Planner (CFP&reg;) certification"
          src="/assets/affiliations/2022-07-04 cfp-logo-plaque-black-outline.jpg"
      /></a>
      <a
        href="https://www.theamericancollege.edu/designations-degrees/ChSNC"
        target="_blank"
        ><img
          alt="logo for the Chartered Special Needs Consultant (ChSNC&reg;) certification"
          src="/assets/affiliations/2022-07-04 ChSNC badge.png"
      /></a>
      <a href="https://www.acplanners.org/home" target="_blank"
        ><img
          alt="logo for the Alliance of Comprehensive Planners organization"
          src="/assets/affiliations/ACP logo.jpg"
      /></a>
      <a href="https://www.napfa.org/" target="_blank"
        ><img
          alt="logo for the National Association of Personal Financial Advisors organization"
          src="/assets/affiliations/2022-07-04 NAPFA logo.png"
      /></a>
      <a href="https://www.xyplanningnetwork.com/" target="_blank"
        ><img
          alt="logo for the XY Planning Network organization"
          src="/assets/affiliations/2022-07-04 xypn logo.png"
      /></a>
      <a
        href="http://www.clevelandfinancialadvisorsnetwork.com/"
        target="_blank"
        ><img
          alt="logo for the Cleveland Financial Advisors Network"
          src="/assets/affiliations/2022-07-04 CFAN logo.png"
      /></a>
    </div>
  </div>
</div>
