.cover img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 40%;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    padding: 1rem;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#text-overlay-1 {
    top: 5rem;
    left: 1rem;
    font-family: Courgette;
}

#text-overlay-2 {
    bottom: 2rem;
    right: 10rem;
    font-family: Courgette;
}

.banner {
    background-image: linear-gradient(to right, #7FBF8E, #6DCECC);
    display: flex;
    flex-flow: row wrap;
    align-items:flex-end;
}

.banner img {
    margin-left: 5rem;
    height: 25rem;
}

.banner div {
    margin: 4rem;
    flex-basis: 25rem;
    flex-grow: 1;
    max-width: 50rem;
}

.banner div p {
    margin-bottom: 2rem;
}

.text-blurb {
    max-width: 1200px;
    margin: 7rem auto;
    padding: 0 6rem;
}

@media(max-width: 600px) {
    .text-blurb {
        padding: 0 2rem;
    }
}

p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.mat-expansion-panel:nth-child(odd) .mat-expansion-panel-header-title {
    color: #2D6A3E;
}

.mat-expansion-panel:nth-child(even) .mat-expansion-panel-header-title {
    color: #2D6A3E;
}

.mat-expansion-panel {
    background-color: rgb(240, 240, 240);
}

.mat-expansion-panel-header {
    height: auto !important;
}

.mat-expansion-panel-header-title {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: .08rem;
}

#values h3 {
    font-size: 2rem;
    margin-top: 4rem;
}

#values p {
    margin-bottom: 0;
}


