<div>
  <div class="cover">
    <img
      alt="Image of a path through the woods"
      src="https://images.unsplash.com/photo-1474055436389-d2f4466c1792?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
    />
    <div id="text-overlay-1" class="text-overlay">
      Exploring the path of your future. Together.
    </div>
  </div>
  <div class="text-blurb">
    <h2>Real Financial Planning for Real People</h2>
    <p>
      <b>Real people looking for ongoing planning and investment management.</b>
      We build long-term partnerships with our clients to help create customized
      financial plans and help share the weight of complex financial decisions.
      Our plans go beyond just crunching the numbers. We help you find and
      follow your dreams. Money may not always buy happiness, but carefully and
      deliberately prioritizing your dreams can build sustainable joy.
    </p>
    <p>
      <b>Individuals with special needs and the people who love them.</b> A
      disability, whether present at birth or acquired, creates unique
      challenges when planning for the future. We work with our clients, their
      families, and other professionals to create plans that integrate with your
      life. We help you understand how you and your loved ones can reach your
      goals while navigating trusts, government benefits, medical costs,
      educational concerns, and other challenges many advisors are not equipped
      to assist with.
    </p>
  </div>
  <div class="banner">
    <img alt="Image of Britta Koepf" src="/assets/britta-koepf-2.png" />
    <div>
      <h2>Meet our Founder</h2>
      <p>
        Britta Koepf, CFP<sup>&reg;</sup>, ChSNC<sup>&reg;</sup> is the founder
        and senior advisor at Tranquil Path Financial Planning. Britta provides
        holistic, fee-only financial planning, and took pride in her fiduciary
        responsibility even before 'fiduciary' became a hot-button political
        topic.
      </p>
      <button mat-flat-button color="primary" routerLink="/about">
        Learn More
      </button>
    </div>
  </div>
  <div class="text-blurb">
    <h2>What Services are Included</h2>
    <mat-accordion displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Retirement & Life Planning</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          We help you discover the ways to use your money and other resources to
          create an amazing life while ensuring that you are not running out of
          money.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Investments</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Our investment approach creates a portfolio of bonds and low-cost
          mutual funds based on your cash flow needs now and in retirement. This
          creates a portfolio that is unique to you, your needs, and your
          circumstances.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Tax Planning</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Taxes touch every portion of your plan. In addition to making tax
          conscious decisions throughout your plan, we set aside time each year
          to create a strategy to optimize your taxes now and in the future.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Special Needs Planning</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Many of our clients either have a disability or have a family member
          with a disability. For these clients, we not only consider the
          ramifications throughout the plan, we frequently set aside meetings
          specifically to discuss goals and strategies specific to those needs.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Insurance</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          We advise on insurance of all varieties, from car insurance to
          disability insurance. We provide guidance on how to protect your
          future without trying to sell you policies.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Estate Planning</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          We work with your estate attorney to ensure that your estate planning
          documents work well with your financial situation.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Other Topics (As Needed)</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Your financial life is not bound to any list that we could predict in
          advance, and we are here to help you with whatever it is that comes
          up. Some of these other things include career or business planning,
          education planning, charitable giving, debt management, or anything
          else related to your personal finances.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="cover">
    <img
      alt="Image of a path through the woods"
      src="https://images.unsplash.com/photo-1448944356016-9f5ad93875c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
    />
  </div>
  <div id="values" class="text-blurb">
    <h2>Our Values</h2>
    <h3>Work in your best interest at all times</h3>
    <p>
      We are fiduciaries in the strictest sense. Your needs are our top
      priority.
    </p>
    <h3>Partnership</h3>
    <p>
      Financial planning is a collaborative process. We team up with you to
      create your plan. While we provide you with precise recommendations and
      are here to be your sounding board in your decision-making, you are still
      in charge of your financial decision.
    </p>
    <h3>Respect</h3>
    <p>This includes responding to emails and phone calls promptly.</p>
    <p>Get recommendations out promptly.</p>
    <p>We do not insert our values and goals on our clients.</p>
  </div>
  <app-affiliations></app-affiliations>
</div>
