<div class="container">
  <div class="person-card">
    <div class="person-image">
      <img src="/assets/britta-koepf-image.jpg" />
    </div>
    <div class="person-blurb">
      <h2>Britta A. Koepf, CFP®, ChSNC®</h2>
      <h3>OWNER AND FINANCIAL PLANNER</h3>
      <p>
        When Britta decided to work in the field of personal finance in 2013,
        she researched the best way to enter the profession without compromising
        her ideals. She realized that the best way forward would be to become a
        Certified Financial Planner (CFP®) and practice in a fiduciary,
        fee-only, and holistic capacity.
      </p>
      <p>
        A naturally frugal person, Britta enjoys working with clients to
        prioritize their goals and find ways to use their resources to create a
        fulfilling life. Money may not always buy happiness, but carefully and
        deliberately prioritizing your dreams can build sustainable joy. Britta
        enjoys working with clients interested in growing and sustaining their
        wealth as a means to achieving their ideal life, whether that involves
        traveling to exotic locations or making a difference in their
        communities.
      </p>
      <p>
        As a Chartered Special Needs Consultant (ChSNC®), Britta is equipped for
        the unique financial challenges of those with special needs and their
        families.
      </p>
      <p>
        Britta has been quoted in Financial Advisor Magazine and The Plain
        Dealer. She has also been interviewed in the WSJ's Your Money
        Briefing podcast.
      </p>
      <p>
        Britta and her husband Craig Lawrie live in Brooklyn Heights, Ohio,
        where they enjoy playing board games, ballroom dancing, and spending
        time with their dog, Wombat
      </p>
    </div>
  </div>
  <!-- <mat-divider></mat-divider>
  <div class="person-card">
    <div class="person-image">
      <img src="/assets/Asset-Dedication-Logo-Black-Text1.png" />
    </div>
    <div class="person-blurb">
      <h2>Asset Dedication, LLC</h2>
      <h3>TURNKEY ASSET MANAGEMENT FOR FINANCIAL PLANNERS</h3>
      <p>
        We partner with
        <a href="https://www.assetdedication.com/" target="_blank">Asset Dedication</a> to
        leverage their expertise in client asset management. This frees us up to
        focus on what is most important: you.
      </p>
    </div>
  </div> -->
  <mat-divider></mat-divider>
  <div class="person-card">
    <div class="person-image">
      <img src="/assets/wombat-koepf-image.png" />
    </div>
    <div class="person-blurb">
      <h2>Wombat Koepf</h2>
      <h3>CHIEF MORALE OFFICER</h3>
      <p>
        He may not contribute <i>directly</i> to solving your financial planning
        needs, but rest assured that he contributes in his own way. Wombat's
        favorite book is
        <a href="https://www.jackiefrench.com/diary-of-a-wombat" target="_blank"
          ><i>Diary of a Wombat</i></a
        >
        by Jackie French, but he is also looking forward to reading
        <a href="https://diggercomic.com/" target="_blank"><i>Digger</i></a> by
        Ursula Vernon. His favorite word, as you might imagine, is 'cheese'.
      </p>
    </div>
  </div>
</div>
