.dialog-container {
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.dialog-container div {
    display: flex;
    align-items: center;
}

.dialog-container div img {
    height: 4rem;
}

.dialog-container div div:first-child {
    flex-grow: 1;
}

iframe {
    border: none;
    width: 100%;
    flex-grow: 1;
}